@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


@layer base{
    :root{
        --background:0, 0%, 93%, 1;
        --cardBg:360, 100%, 100%, 1;
        --textColor:0, 0%, 0%, 1;
        --border: 208, 7%, 79%, 1;
        --primaryColor:229, 83%, 60%, 1;
        --secondaryColor:212, 84%, 61%, 1;
        --transition:all .3s linear;
        --radius:0.3rem;
    }

    .dark{
        --background:0, 0%, 7%, 1;
        --cardBg:0, 0%, 0%, 1;
        --textColor:360, 100%, 100%, 1;
        --border:208, 7%, 14%, 1;
        --primaryColor:87, 100%, 49%, 1;
        --secondaryColor:85, 97%, 62%, 1;
    }
}

@layer base{
    body{
        @apply bg-background text-textColor
    }
}